$box-shadow: 0px 0px 23px 0px #DADADA;

.card-container {
    box-shadow: $box-shadow;
    border-radius: 1rem;
    width: 48%;
    cursor: pointer;
    margin-bottom: 1.1rem;
    img{
        width: 100%;
        border-radius: 1rem 1rem 0 0; 
        height: 21vh;
        object-fit: cover;
    }
    h3 {
        padding: 1rem;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        width: 72%;
        text-overflow: ellipsis;
        font-size: 1rem;
    }
}